nav{
    display: inline-block;
    text-align: left;
    width: 60%;
}

body{
    height: 100%;
    text-align: center;
}

header{
    width: 80%;
    text-align: left;
    border-color: black;
}

main{
    width: 80%;
}

.name{
    text-align: center;
    margin-bottom: -1%;
    border-bottom: 4px dotted black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    border-bottom: 1px solid black;
    font-size: larger;
}

a{
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10%;
}

.container .contact-info-list {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 100%;
}

.container .contact-info-list li{
    padding: 2%;
    border-bottom: 2px dotted black;
}

.h2-text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 38px;
    margin-right: 70px;
}

.summary{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
}

.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: center;
}

.skills-counter{
    text-align: justify;
}

.skills-counter li{
    margin: 9px;
}

.work-expirience {
    text-align: justify;
    align-content: left;
}

.education+.text{
    margin-left: 26px;
    text-align: left;
}

.pet-projects {
    text-align: justify;
    align-content: left;
}

ol {
    padding: 0 2%;
}

ol li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 2% 0 0;
}

ol li.bold {
    font-weight: bold;
}

ol li.bold .not-bold {
    font-weight: normal;
}

ol div {
    text-align: justify;
    padding: 10px 2% 10px 0;
    font-size: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 1000px) {
    .container {
        padding: 0 1%;
    }

    .left-side-on-mobile {
        text-align: justify;
        padding: 0 2%;
    }

    .text {
        text-align: justify;
    }

    nav {
        width: 80%;
    }

    header {
        width: 100%;
    }

    main {
        width: 100%;
    }
}