nav{
    display: inline-block;
    text-align: left;
    width: 60%;
}

body{
    height: 100%;
    text-align: center;
}

header{
    width: 80%;
    text-align: left;
    border-color: black;
}

main{
    width: 80%;
}

.name{
    text-align: left;
    margin-bottom: -1%;
    border-bottom: 2px dotted black;
}

h2{
    border-bottom: 2px dotted black;
}

a{
    color: black;
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.container .contact-info-list {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 100%;
}

.container .contact-info-list li{
    padding: 2%;
    border-bottom: 2px dotted black;
}

.h2-text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 38px;
    margin-right: 70px;
}

.summary{
    margin-top: 3%;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.skills-counter{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: left;
}

.skills-counter li{
    margin: 9px;
}

.education+.text{
    margin-left: 26px;
    text-align: left;
}